body{
    background-image: linear-gradient(to right, rgb(5, 5, 97), rgb(7, 7, 134));
}

.container{
 margin-top: 2%;
 margin-left: 25%;
 background: url("https://static.vecteezy.com/ti/vetor-gratis/p3/13005047-icone-de-de-descriptografar-vetor.jpg");
 height: 250px;
 width: 30%;
 display: flex;
 gap: 50%
}

.row{
    gap: 50%;
    margin-left: 12%;
    color: red
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    height: 5vh;
    padding: 5vw;
    color: white
  }

  #header {
    font-family: 'Fraunces';
    font-size: 28px;
    margin-left: 40px;
    font-weight: bold;
  }

  #links2 {
    margin-top: 38%;
    min-width: 20vw;
    justify-content: space-between;
    font-size: 1rem;
  }

  .img {
    width: 33px;
    height: 23px;

  }

input{
    padding: 4px 4px 4px 4px;
}

.voltar{
  padding: 6px 6px 6px 6px;
  background-color: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

footer{
  display: flex;
  padding: 2px 2px 2px 2px;
  width: 100%;
  top: 90%;
  color: white;
  background-color: rgb(3, 3, 94);
  position: relative;
  position: absolute;
  gap: 20%
}

.footer{
  margin-left: 10%;
}